ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 300px;
    left: 30px;
    z-index: 999;
}

button {
    width: 10px;
    height: 10px;
    /* border: 1px solid #fff; */
    /* background-image: rgba(245, 64, 32, 0.5); */
    margin: 12px 50px;
    border-radius: 50%;
    cursor: pointer;
}
 body,
 button,p {
     margin: 0;
     padding: 0;
 }